
.button-container a {
    width: 200px;
    padding: 10px;
    color: #FFF;
    background-color: #F00;
    
    /* ROUNDING THE CORNERS */
    border-radius: 10px;
    
    /* CREATED WITH THE SHADOW GENERATOR */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);

    /* Let's get rid of the underline */
    text-decoration: none;
}

.button-container a:hover {
    background-color: #AF1F16;
    /* Let's get rid of the underline */
    text-decoration: none;
}
