
.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;

}

.cascading-parent {
    font-weight: bold;
    color: #FF0 !important;
    size: 100%;
    font-size: 80px;


}

.cascading-child {
    background-color: blue;
    width: 300px;
    height: 300px;
}