/*At the top of the file*/

:root {

    /*FONTS */
    --regular: "Comic Sans MS";

    /*COLORS*/
    --main-color:blue;
    --bg-color: rgb(165, 42, 126);
    --text-color: yellow;

    --darker-red: #F0F;

    /*MARGINS*/
    --spacing-unit: 10px;
    --margin: calc(0.2 * var(--spacing-unit));
    --padding: calc(0.2 * var(--spacing-unit));
}

h1 { 
    font-family: var(--regular);
    color: var(--darker-red);
}



.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;

}

.cascading-parent {
    font-weight: bold;
    color: #FF0 !important;
    size: 100%;
    font-size: 80px;


}

.cascading-child {
    background-color: blue;
    width: 300px;
    height: 300px;
}

a {
    font-size: 22px;
    color: #F0F;
}

.cascading-parent h2 {
    color:#FD0;
}

.cascading-parent a {
    font-size: 32px;
    color: #CCC;
}


.site-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.site-color {
    background-color: indigo;
    color: #FFF;
}

.site-square {
    width: 200px;
    height: 200px;
}


/*unvistied link */
a:link {
    color:rgb(55, 0, 255);
}

/*visited link*/
a:visited {
    color:green;
}

/*a mouse over link */
a:hover {
color:hotpink
}

/*selected link*/
a:active {
    color:rgb(0, 187, 255);
}

